NEXT_PUBLIC_SUPABASE_URL=https://bojvgktmylinvtdwweiy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJvanZna3RteWxpbnZ0ZHd3ZWl5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM5NDgwMTIsImV4cCI6MjA3OTUyNDAxMn0.lr1jKCsnWLQoBFbtI2L1JSXLtvfik3LPB160BtPCOXA
